.contact {
    padding: 5vh 0 5vh 0;  
    height: 90vh;

    &-banner {
        height: 30vh;
    }

    h1 {
        padding-bottom: 1rem;
        border-bottom: 3px solid $fourth-color;
    }

    &-item {
        padding-bottom: .5rem;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
        padding-left: 8%;
    }

    .social-icons {
        padding-top: 5vh;
        line-height: 2rem;
        a {
            padding: 1rem;
            color: set-text-color($primary-color);

            &:hover {
                color: $secondary-color;
            }
        }
    }
}