@include media-md {
    .contact {
        .social-icons {
            font-size: 2rem;
        }
    }
}

@include media-lg {
    footer {
        background-color: $fourth-color;
    }

    .contact {
        &-item {
            padding: 1rem 0 1rem 0;
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: left;
            padding-left: 8%;
        }

        .social-icons {
            padding-top: 20vh;
        }
        
    }
}